@include selection {
	background-color: $secondaryColor;
	color: #FFF;
}

@include placeholder {
	color: #A6A8AB;
    font-weight: lighter;
}

input,
textarea {
	@include transition(all 0.1s ease-in-out);
	&:focus {
		outline: 2px solid $primaryColor;
	}
}

body {
	color: #808184;
	font-size: $em-base;
	font-family: $primaryFont;
	font-weight: lighter;
	line-height: em(23px);
	letter-spacing: em(1px);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: $primaryFont;
}

h1 {
	font-size: em(26px);
	color: $primaryColor;
	font-weight: lighter;
	text-transform: uppercase;
}

h2 {
	font-size: em(17px);
	color: $secondaryColor;
}

h3 {
	font-size: em(14px);
	font-weight: lighter;
	color: $primaryColor;
}

h4 {
	font-size: em(18px);
    font-weight: normal;
	color: $secondaryColor;
	text-transform: uppercase;
}

h5 {
	@extend h4;
	color: $primaryColor;
}

h6 {
	font-size: em(14px);
	color: $secondaryColor;
	text-transform: uppercase;
}

a {
	@include general-transition;
	text-decoration: none;
	color: $primaryColor;
	&:hover {
		text-decoration: underline;
	}
}

b,
strong {
	font-family: $primaryFont;
}

.entry-content > ul {
	@extend %two-column-list;
}

.site-inner {
	text-align: center;
}

section {
	@include outer-container(100%);
}