@include selection {
	background-color: $secondaryColor;
	color: #FFF;
}

@include placeholder {
	color: #A6A8AB;
    font-weight: 300;
}

input,
textarea {
	@include transition(all 0.1s ease-in-out);
	&:focus {
		outline: 2px solid $primaryColor;
	}
}

body {
	color: #808184;
	font-size: $em-base;
	font-family: $fontFamily;
	font-weight: 300;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: $fontFamily;
}

h1 {
	font-size: em(26px);
	color: $primaryColor;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-size: em(17px);
	color: $secondaryColor;
}

h3 {
	font-size: em(14px);
	font-weight: 300;
	color: $primaryColor;
}

h4 {
	font-size: em(18px);
	color: $secondaryColor;
	text-transform: uppercase;
}

h5 {
	@extend h4;
	color: $primaryColor;
}

h6 {
	font-size: em(14px);
	color: $secondaryColor;
	text-transform: uppercase;
}

a {
	@include general-transition;
	text-decoration: none;
	color: $primaryColor;
	&:hover {
		text-decoration: underline;
	}
}

b,
strong {
	font-family: $fontFamily;
}

article > ul {
	@include side-by-side-lists;
}

section {
	@include outer-container();
}