// Default Icons
.fa {
    font-size: em(12px);
    @include general-transition;
    &.fa-facebook {
        color: $facebookColor;
    }
    &.fa-twitter {
        color: $twitterColor;
    }
    &.fa-linkedin {
        color: $linkedInColor;
    }
    &.fa-instagram{
        background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.primary-color {
            background: transparent;
            color: $primaryColor;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;
        }
    }
    &.primary-color {
        color: $primaryColor;
    }
}

.social-icon {
    position: relative;
    list-style-type: none;

    .fa + a {
        @include hide-text;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.small-social-icons-container {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);

    .social-icon {
        $percentage: 20%;
        &:hover {
            .fa-facebook {
                color: darken( $facebookColor, $percentage );
            }

            .fa-twitter {
                color: darken( $twitterColor, $percentage );
            }

            .fa-linkedin {
                color: darken( $linkedInColor, $percentage );
            }

            .fa-instagram{
                background: linear-gradient( darken( #6559ca, 20% ),  darken( #bc318f, 20% ) 30%,  darken( #e33f5f, 20% ) 50%,  darken( #f77638, 20% ) 70%,  darken( #fec66d, 20% ) 100%);
                &.primary-color {
                    background: transparent;
                    color: darken( $primaryColor, $percentage );
                }
            }

            .primary-color {
                color: darken( $primaryColor, $percentage );
            }
        }
    }
}

// Radial Swoop Icons
.radial-swoop-social-icons-container {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
}

.social-icon.radial-swoop {
    margin-left: 30px;
    &.facebook-icon {
        .circle .mask .fill {
            background-color: $facebookColor;
        }
    }
    &.twitter-icon {
        .circle .mask .fill {
            background-color: $twitterColor;
        }
    }
    &.linkedin-icon {
        .circle .mask .fill {
            background-color: $linkedInColor;
        }
    }
    &.instagram-icon {
        .circle .mask .fill {
            background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            &.fix {
                background: linear-gradient(#fec66d, #f77638 30%, #e33f5f 50%, #bc318f 70%, #6559ca 100%);
            }
        }
    }
    &.primary-color {
        .circle .mask .fill,
        .fix {
            background: $primaryColor !important;
        }

        .fa {
            color: $primaryColor !important;
        }
    }
    &.radial-swoop {
        position: relative;

        .inset {
            @include align-items(center);
            @include justify-content(center);
            @include display(flex);
            @include flex-direction(row);

            .fa {
                font-size: em(28px);
            }
        }
    }
}