$submenu-max-height: 300px;

// transition
.ubermenu-transition-none .ubermenu-item .ubermenu-submenu-drop {
    transition: height 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
    height: 0 !important;
    min-height: 0 !important;
    max-height: 300px !important;
    transform: translateY(0px);
    opacity: 1;
    overflow: visible;
    visibility: visible;
    width: auto;
    backface-visibility: hidden;
    display: block;
}

.ubermenu-transition-none .ubermenu-item:active .ubermenu-submenu-drop {
    height: 300px !important;
}


.nav-primary {
    display: flex!important;
    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
}

.ubermenu.ubermenu-loc-primary {
    .ubermenu-nav {
        @include align-items(center);
        @include justify-content(center);
        @include display(flex);
        @include flex-direction(row);
        font-size: em(17px);
        font-weight: normal;
        height: 113px;

        .ubermenu-item {
            height: 100%;
            width: 100%;
        }

        a {
            color: #404041;
            padding: 15px 15px 33px 20px;
            @include align-items(center);
            @include justify-content(center);
            @include display(flex);
            @include flex-direction(column);
            &:after {
                display: none;
            }
        }
    }

    #menu-item-1294.ubermenu-active {
        .ubermenu-item:after {
            content: "";
            display: block;
            border-top: 10px solid #FFF;
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            z-index: 99;
        }

        .ubermenu-item:nth-child(2) {
            &:before,
            &:after {
                content: "";
                display: block;
                top: 0;
                left: -10px;
                position: absolute;
                background-color: transparent;
                z-index: 99;
                width: 5%;
                border-right: 20px solid rgba(0, 0, 0, 0);
                border-left: 10px solid #fff;
                border-top: 10px solid #fff;
            }
            &:after {
                left: initial;
                right: 0;
                width: 95%;
                border-left: 20px solid rgba(0, 0, 0, 0);
                border-right: 10px solid #fff;
                border-top: 10px solid #fff;
            }
        }
    }

    #menu-item-1295.ubermenu-active {
        .ubermenu-item:after {
            content: "";
            display: block;
            border-top: 10px solid #FFF;
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            z-index: 99;
        }

        .ubermenu-item:nth-child(2) {
            &:before,
            &:after {
                content: "";
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                background-color: transparent;
                z-index: 99;
                width: 85%;
                border-right: 20px solid rgba(0, 0, 0, 0);
                border-left: 10px solid #fff;
                border-top: 10px solid #fff;
            }
            &:after {
                left: initial;
                right: 0;
                width: 15%;
                border-left: 20px solid rgba(0, 0, 0, 0);
                border-right: 10px solid #fff;
                border-top: 10px solid #fff;
            }
        }
    }

    // submenu
    .ubermenu-item-level-0 {
        &.ubermenu-active {
            .ubermenu-submenu {
                height: 300px !important;
            }
        }

        .ubermenu-submenu {
            @include align-items(flex-start);
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(flex-start);
            max-height: $submenu-max-height !important;

            // items
            .ubermenu-item-level-1 {
                width: 25%;
                position: relative;

                .ubermenu-target {
                    @include align-items(flex-start);
                    @include display(flex);
                    @include flex-direction(column);
                    @include justify-content(flex-start);
                    padding: 0;
                    &:hover {
                        .ubermenu-target-title {
                            background: #E6E7E8;
                        }
                    }

                    a {
                        text-align: center;
                        font-size: em(15px);
                        text-transform: uppercase;
                        color: #58595B;
                    }

                    .ubermenu-image {
                        height: $submenu-max-height - 89px;
                        width: 100%;
                    }

                    .ubermenu-target-title {
                        @include general-transition;
                        background: #fff;
                        width: 100%;
                        border-right: .5px solid #E6E7E8;
                        display: flex;
                        align-items: center;
                        height: 94px;
                        justify-content: center;
                        text-align: center;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}