.page-template-page-about {

    .archive-description {
        padding: 85px 0;

        p {
            font-size: em(26px);
            line-height: em(20px);
            color: #404041;
            margin: 0;
        }
    }
}