$slick-dot-radius: 12px;

.slick-dots {
    width: auto;
    margin-left: 0;
    margin-right: 35px;
    padding: 0;
    li {
        position: relative;
        display: inline-block;
        height: $slick-dot-radius;
        width: $slick-dot-radius;
        margin: 10px 5px;
        padding: 0;
        cursor: pointer;
    }

    button {
        border: 0;
        display: block;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        &:hover,
        &:focus {
            outline: none;
        }
    }
}

.slick-circles {

    button {
        background: transparent;
        height: $slick-dot-radius - 1;
        width: $slick-dot-radius - 1;
        padding: 5px;
        border: 1px solid $primaryColor;
        border-radius: 50%;
        &:before,
        &:after {
            background: transparent;
        }
    }

    li.slick-active {

        button {
            border: 0;
            background: $primaryColor;
        }
    }
}

.dashes-container {
    @extend %dashes;

    li {
        height: 15px;
        width: 15px;
    }

    li.slick-active {
        @extend  %dashes-active;
    }
    
    button {
        display: block;
        height: 100%;
        width: 100%;
        border: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0);
    }
}


// Slick cube rotation

.slick-cube-rotator {
    .slick-list {
        perspective: 5600px;
        perspective-origin: 50% 50%;
        height: 90vh !important;
    }

    .slick-track {
        position: absolute;
        transform-style: preserve-3d;
        width: 100%;
        height: 100% !important;
        transition: transform 1.5s cubic-bezier(0.56, -0.32, 0.92, 0.62);
        top: 0 !important;

        .slick-slide {
            display: block;
            position: absolute;
            height: 100%;
            width: 100% !important;
            max-height: 100%;
            backface-visibility: hidden;
            visibility: hidden;
            display: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }

        .slick-slide.slick-cloned {
            display: none;
            visibility: hidden !important;
        }


        .cube-top {
            transform: rotateX(90deg) translateZ(45vh) scaleX(1);
            visibility: visible;
            display: block;
        }

        .cube-front {
            transform: rotateX(0deg) translateZ(45vh) scaleX(1);
            visibility: visible;
            display: block;
        }

        .cube-bottom {
            transform: rotateX(-90deg) translateZ(45vh) translateX(0px) scaleX(1);
            visibility: visible;
            display: block;
        }

        .cube-back {
            transform: rotateX(180deg) translateZ(45vh) translateX(0px) scaleX(1);
            visibility: visible;
            display: block;
        }
    }
}