$primaryColor: #EC1E24;
$secondaryColor: #404041;

$baseBorderWidth:  2px;

$fontFamily: 'Roboto', sans-serif;

$comp: new-breakpoint(max-width 1700px); // size of the comp sliced
$large: new-breakpoint(max-width 75em); // large desktops
$medium: new-breakpoint(max-width 61.9em); //tablet
$small: new-breakpoint(max-width 48em); // landscape
$xsmall: new-breakpoint(max-width 33.9em); //portrait

$max-width: 1400px;

$facebookColor: #3A5A98;
$twitterColor: #5FA8DC;
$linkedInColor: #0078B5;
$instagramColor: #833ab4;
