.cta-slideshow-container {
    min-height: 1px;
    &:nth-child(odd) {
        .slick {
            float: left;
        }
        .cta-slideshow-content {
            float: right;
        }
    }
    &:nth-child(even) {
        .slick {
            float: right;
        }
        .cta-slideshow-content {
            float: left;
        }
    }

    .slick {
        width: 70%;
        height: 446px;
    }

    .cta-slideshow-content {
        @include align-items(center);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        width: 30%;
        height: 446px;
        text-align: center;
    }

    .dots-container .slick-dots {
        position: relative;
    }
}