@keyframes bounce {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    5% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    10% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    15% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -8px, 0);
    }

    20% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
}

.more-information-bar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    color: #BBBDBF;
    height: 40px;
    font-size: em(13px);
    cursor: pointer;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    &.hidden {
        display: none;
    }
}

.more-information-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    color: #BBBDBF;
    height: 40px;
    font-size: em(13px);
    cursor: pointer;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 2.7s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-iteration-count: 2;

    .triangle-down {
        color: $primaryColor;
        margin-right: 11px;
        @include triangle(20px, $primaryColor, down);
    }
}