.social-rotator-container {
    position: relative;

    .social-item {
        padding: 0 80px;
    }

    .social-icon.radial-swoop {
        margin: 0 auto 40px;
    }

    .slick-slider {
        text-align: center;

        .social-content {
            @include align-items(center);
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            height: 446px;
        }
    }

    .dashes-container {
        display: block;
        position: absolute;
        bottom: 70px;
        left: 50%;
        margin-left: -32.5px;
    }

    .timestamp {
        color: #BBBDBF;
    }
}